*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    width: 400px;
    height: 400px; 
    background-color: red;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.child{
    width: 200px;
    height: 200px; 
    background-color: blue;
    /* border-top: 10px solid black; */
    border: 2px solid black;
    /* overflow: hidden; */
    overflow: scroll;
    /* border-radius: 50%; */
    /* transition: all 0.3s ease-in-out; */
    /* animation: rotate 1s linear infinite; */
}

.child:hover{
    background-color: green;
    /* transform: scale(1.1); */
    /* transform: translate(20px, 20px); */
    /* transform: rotate(360deg); */
}

.child:active{
    background-color: yellow;
}
input:active{
    /* focus is not working because div is not focusable by default. You can make it focusable by adding tabindex attribute to it. */
    background-color: orange;
}
a:visited{ 
    /* //visited is not working because the link is not visited yet. You can test it by visiting the link first and then refreshing the page. */
    color: red;
    text-decoration: none;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.box{
    width: 300px;
    height: 400px;
    border-radius: 10px;
    margin: 50px auto; 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    background-color:black;
    /* position: relative; */
    overflow: hidden;
    /* border: 2px solid black; */
}

.pic{
    background-image: url(images.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: all 0.5s ease-in;
}

.content{
    height: 50px;
    width:100px;
    background-color: blue;
    position: absolute;
    top: 69%;
    right:37%;
}

/* .box:hover{
    transform: translateY(-10px);
} */
.pic:hover {
    transform: scale(1.1);
    opacity: 0.75;
}


.parent-div{
    width: 400px;
    height: 400px;
    background-color: red;
    /* border: 2px solid black; */
    margin: 50px auto;
    position: relative;
}

.child-div{
    width: 100px;
    height: 100px;
    background-color: blue;
    /* border: 2px solid black; */
    /* position: absolute; */
    position: absolute;
    /* top: 150px;
    left:150px; */
    top: -25px;
    right: -25px;
}