*{
    padding: 0;
    margin: 0;
}

#box1{
    background-color: blueviolet;
    height: 100px;
    width: 10em;
    font-size: 30px;
}
#box2{
    background-color: aqua;
    height: 50px;
    width: 2em;
    font-size: 2em;
}

.positiondiv{
    
    margin: 10px;
    height: 100px;
    width: 100px;
    background-color: red;
    /* font-size: 30px; */
}
#div3{
    /* position: absolute; */
    /* position: relative; */
    /* position: fixed; */
    position: static; 
    /* position: sticky; */
    /* top: 100px; */
    /* left: 100px; */
}
#div1{
    background-image: url(download.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}