/* *{
    margin:10px;
    padding:10px;
} */
/* div{
    width: 100px;
    height: 100px;
    background-color: red;
} */

/* @media(max-width: 300px){
    div{
        background-color: green;
    }
}

@media(min-width: 300px)and(max-width: 400px){
    div{
        background-color: pink;
    }
}

@media(min-width: 300px)and(max-width: 400px){
    div{
        background-color: yellow;
    }
}

@media(min-width: 600px){
    div{
        background-color: blue;
    }
} */

body{
    text-align: center;
}

div{
    width: 150px;
    height: 70px;
    display: inline-block;
    border: 2px solid black;
}

#container{
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: row;
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content:flex-end; */
    justify-content:center;
    /* flex-wrap: wrap; */

    /* align-items: center; */
}

#box1{
    background-color: red;
}
#box2{
    background-color: green;
}
#box3{
    background-color: blue;
}
#box4{
    background-color: yellow;
}
#box5{
    background-color: pink;
}
#box6{
    background-color: orange;
}